
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalles_producto.css">
    <title>Detalle del Producto</title>
</head>

<body>
    <a href="#" class="btn-volver">Volver</a> 
    <main>
        <div class="producto-detalle">
            <div>
                <!-- Mostrar la imagen del producto -->
                <img src="/assets/img/logo3.png" alt="Producto" class="producto-imagen">
                <img id="logo" src="/assets/img/logo3.png" alt="Logo de Pamborghini Market">
            </div>

            <div class="producto-info">
                <!-- Mostrar los detalles del producto -->
                <h1 class="producto-nombre"></h1>
                <h2 class="producto-marca">Marca: </h2>
                <h3 class="producto-categoria">
                    Categoría: 
                </h3> <!-- Ahora muestra las categorías -->
                <div class="producto-valoracion">
                    
                </div>
                <h4 class="producto-tamano">Tamaño: </h4>
                <p class="producto-descripcion">Descripción del producto: </p>
                <p class="producto-precio">Precio: €</p>
                <!--<button class="buy-button">Comprar Ahora</button>!-->
            </div>
        </div>

        <div class="valoraciones-container">
            <!-- Mostrar las valoraciones del producto -->
            <div class="valoraciones">
                <h2>Valoraciones</h2>
                
            </div>

            <!-- Formulario para agregar una nueva valoración -->
            <div class="agregar-valoracion">
                <h3>Agregar una valoración</h3>
                <form action="" method="POST">
                    <input type="hidden" name="id_usuario" value="1"> <!-- Cambia esto por el usuario real de la sesión -->
                    <label for="valoracion">Valoración (1-5):</label>
                    <select name="valoracion" id="valoracion" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <label for="descripcion">Descripción:</label>
                    <textarea name="descripcion" id="descripcion" rows="4" required></textarea>

                    <button type="submit">Enviar Valoración</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Pamborghini. Todos los derechos reservados.</p>
    </footer>
</body>

</html>